USE [master]
GO
/****** Object:  Database [SaigonTechs]    Script Date: 2019-04-21 11:12:31 PM ******/
CREATE DATABASE [SaigonTechs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SaigonTechs', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SaigonTechs.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SaigonTechs_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\SaigonTechs_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SaigonTechs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SaigonTechs]
GO
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATE](
	[C_ID] [int] IDENTITY(1,1) NOT NULL,
	[STAGE_ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[CATALOG_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[EDUCATION_ID] [int] NOT NULL,
	[YEAR_ID] [int] NULL,
	[TYPE_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SEM_ID] [int] NULL,
	[CANDIDATE_ID] [nvarchar](50) NOT NULL,
	[LASTNAME] [nvarchar](100) NOT NULL,
	[FIRSTNAME] [nvarchar](100) NOT NULL,
	[BIRTHDAY] [datetime] NOT NULL,
	[GENDER] [int] NOT NULL,
	[PHONENUMBER] [nvarchar](10) NOT NULL,
	[HOMEADDRESS] [nvarchar](200) NULL,
	[COUNTRY] [nvarchar](200) NULL,
	[PROVINCE] [nvarchar](200) NULL,
	[DISTRICT] [nvarchar](200) NULL,
	[PLACEOFBIRTH] [nvarchar](200) NULL,
	[MARITALSTATUS] [int] NULL,
	[HIGHSCHOOLNAME] [nvarchar](200) NULL,
	[HIGHSCHOOLCITY] [nvarchar](200) NULL,
	[GRADUATEYEAR] [int] NULL,
	[REGISTRYDATE] [datetime] NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[IDCARD] [nvarchar](20) NOT NULL,
	[FINALRESULT] [bit] NULL,
	[DOCUMENTCODE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CANDIDATE] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATEDOCUMENT]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATEDOCUMENT](
	[NOTE] [text] NULL,
	[ID_NOTE] [numeric](11, 0) IDENTITY(1,1) NOT NULL,
	[DOC_ID] [int] NOT NULL,
	[C_ID] [int] NOT NULL,
 CONSTRAINT [PK_CANDIDATEDOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID_NOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CANDIDATETYPE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANDIDATETYPE](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPENAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_CANDIDATETYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATALOG]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATALOG](
	[CATALOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[BEGINYEAR] [int] NOT NULL,
	[ENDYEAR] [int] NOT NULL,
 CONSTRAINT [PK_CATALOG] PRIMARY KEY CLUSTERED 
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[COUNTRY_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRYNAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[DISTRICT_ID] [int] IDENTITY(1,1) NOT NULL,
	[PROVINCE_ID] [int] NOT NULL,
	[DISTRICTNAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[DOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMEINENGLISH] [nvarchar](100) NOT NULL,
	[NAMEINVIETNAMESE] [nvarchar](100) NOT NULL,
	[SEQUENCENUM] [int] NOT NULL,
	[INPUTTYPE] [int] NOT NULL,
	[STATUS] [int] NOT NULL,
	[NOTE] [text] NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EDUCATION]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDUCATION](
	[EDUCATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[EDUCATIONNAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_EDUCATION] PRIMARY KEY CLUSTERED 
(
	[EDUCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EXAMSUBJECT]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMSUBJECT](
	[EXAM_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXAMNAME] [nvarchar](100) NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
 CONSTRAINT [PK_EXAMSUBJECT] PRIMARY KEY CLUSTERED 
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INPUTTYPE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INPUTTYPE](
	[Input_ID] [int] IDENTITY(1,1) NOT NULL,
	[InputName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Input_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INTAKE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTAKE](
	[INTAKE_ID] [int] IDENTITY(1,1) NOT NULL,
	[INTAKENAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_INTAKE] PRIMARY KEY CLUSTERED 
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MAJOR]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJOR](
	[MAJOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAJOR_NAME] [nvarchar](200) NULL,
 CONSTRAINT [PK_MAJOR] PRIMARY KEY CLUSTERED 
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PARAMETER]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETER](
	[PARAMETER_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[INTAKE_ID] [int] NOT NULL,
	[SIGNATURENAME] [nvarchar](200) NOT NULL,
	[MORECONTACT] [nvarchar](200) NOT NULL,
	[DOCUMENTCODE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PARAMETER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVINCE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCE](
	[PROVINCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[PROVINCENAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_PROVINCE] PRIMARY KEY CLUSTERED 
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCORE_EXAM]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE_EXAM](
	[SUMSCORE] [decimal](18, 0) NULL,
	[SCOREPASS] [decimal](18, 0) NULL,
	[SCORE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXAM_ID] [int] NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
 CONSTRAINT [PK_SCORE_EXAM] PRIMARY KEY CLUSTERED 
(
	[SCORE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SEMESTER]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEMESTER](
	[SEM_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEMESTERNAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_SEMESTER] PRIMARY KEY CLUSTERED 
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGE]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGE](
	[STAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SEM_ID] [int] NOT NULL,
	[YEAR_ID] [int] NOT NULL,
	[STAGENAME] [nvarchar](200) NOT NULL,
	[DATETIME] [datetime] NOT NULL,
	[EXAMDATE] [datetime] NOT NULL,
	[EXAMTIME] [nvarchar](50) NOT NULL,
	[ENGLISHTIMEEXAM] [nvarchar](20) NULL,
 CONSTRAINT [PK_STAGE] PRIMARY KEY CLUSTERED 
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAGEDETAILS]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAGEDETAILS](
	[STAR_TIME] [nvarchar](50) NOT NULL,
	[END_TIME] [nvarchar](50) NOT NULL,
	[INTERVIEW] [nvarchar](200) NULL,
	[STAGE_DETAILS_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAJOR_ID] [int] NOT NULL,
	[STAGE_ID] [int] NOT NULL,
	[EXAM_ID] [int] NOT NULL,
 CONSTRAINT [PK_STAGEDETAILS] PRIMARY KEY CLUSTERED 
(
	[STAGE_DETAILS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATUSS]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUSS](
	[Status_ID] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Status_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[Use_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [int] NULL,
	[Addres] [nvarchar](100) NULL,
	[Email] [nvarchar](50) NULL,
	[UserName] [varchar](20) NULL,
	[PassWord] [varchar](250) NULL,
	[ImagePath] [nvarchar](1000) NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Use_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[YEAR]    Script Date: 2019-04-21 11:12:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEAR](
	[YEAR_ID] [int] IDENTITY(1,1) NOT NULL,
	[YEARNAME] [int] NOT NULL,
 CONSTRAINT [PK_YEAR] PRIMARY KEY CLUSTERED 
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CANDIDATE] ON 

SET IDENTITY_INSERT [dbo].[CANDIDATE] OFF
SET IDENTITY_INSERT [dbo].[CANDIDATETYPE] ON 

INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (1, N'skipped English Exam')
INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (2, N'skipped Math')
INSERT [dbo].[CANDIDATETYPE] ([TYPE_ID], [TYPENAME]) VALUES (3, N'shipped Interview')
SET IDENTITY_INSERT [dbo].[CANDIDATETYPE] OFF
SET IDENTITY_INSERT [dbo].[CATALOG] ON 

INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (1, 2000, 2001)
INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (2, 2004, 2005)
INSERT [dbo].[CATALOG] ([CATALOG_ID], [BEGINYEAR], [ENDYEAR]) VALUES (3, 2008, 2009)
SET IDENTITY_INSERT [dbo].[CATALOG] OFF
SET IDENTITY_INSERT [dbo].[COUNTRY] ON 

INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (1, N'Việt Nam')
INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (2, N'Lào')
INSERT [dbo].[COUNTRY] ([COUNTRY_ID], [COUNTRYNAME]) VALUES (3, N'Campuchia')
SET IDENTITY_INSERT [dbo].[COUNTRY] OFF
SET IDENTITY_INSERT [dbo].[DISTRICT] ON 

INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (21, 9, N'Lao1')
INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (22, 3, N'Bien Hoa 2')
INSERT [dbo].[DISTRICT] ([DISTRICT_ID], [PROVINCE_ID], [DISTRICTNAME]) VALUES (23, 3, N'Bien Hoa 1')
SET IDENTITY_INSERT [dbo].[DISTRICT] OFF
SET IDENTITY_INSERT [dbo].[DOCUMENT] ON 

INSERT [dbo].[DOCUMENT] ([DOC_ID], [NAMEINENGLISH], [NAMEINVIETNAMESE], [SEQUENCENUM], [INPUTTYPE], [STATUS], [NOTE]) VALUES (12, N'ID Card', N'Chứng Minh Nhân Dân', 1, 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[DOCUMENT] OFF
SET IDENTITY_INSERT [dbo].[EDUCATION] ON 

INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (1, N'Graduated High School')
INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (2, N'Graduated College')
INSERT [dbo].[EDUCATION] ([EDUCATION_ID], [EDUCATIONNAME]) VALUES (3, N'Graduated Univerity')
SET IDENTITY_INSERT [dbo].[EDUCATION] OFF
SET IDENTITY_INSERT [dbo].[EXAMSUBJECT] ON 

INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME], [MAJOR_ID]) VALUES (4, N'Demo', 1)
INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME], [MAJOR_ID]) VALUES (8, N'quoc', 1)
INSERT [dbo].[EXAMSUBJECT] ([EXAM_ID], [EXAMNAME], [MAJOR_ID]) VALUES (9, N'hihi do ngoc', 2)
SET IDENTITY_INSERT [dbo].[EXAMSUBJECT] OFF
SET IDENTITY_INSERT [dbo].[INPUTTYPE] ON 

INSERT [dbo].[INPUTTYPE] ([Input_ID], [InputName]) VALUES (1, N'Text Box')
INSERT [dbo].[INPUTTYPE] ([Input_ID], [InputName]) VALUES (2, N'Check Box')
INSERT [dbo].[INPUTTYPE] ([Input_ID], [InputName]) VALUES (3, N'Others')
SET IDENTITY_INSERT [dbo].[INPUTTYPE] OFF
SET IDENTITY_INSERT [dbo].[INTAKE] ON 

INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (1, N'SGT-01')
INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (2, N'SGT-02')
INSERT [dbo].[INTAKE] ([INTAKE_ID], [INTAKENAME]) VALUES (3, N'SGT-03')
SET IDENTITY_INSERT [dbo].[INTAKE] OFF
SET IDENTITY_INSERT [dbo].[MAJOR] ON 

INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (1, N'International Business')
INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (2, N'Marketing')
INSERT [dbo].[MAJOR] ([MAJOR_ID], [MAJOR_NAME]) VALUES (3, N'Networking')
SET IDENTITY_INSERT [dbo].[MAJOR] OFF
SET IDENTITY_INSERT [dbo].[PARAMETER] ON 

INSERT [dbo].[PARAMETER] ([PARAMETER_ID], [YEAR_ID], [SEM_ID], [INTAKE_ID], [SIGNATURENAME], [MORECONTACT], [DOCUMENTCODE]) VALUES (10, 20, 2, 9, N'Quoc', N'ISC', N'30')
SET IDENTITY_INSERT [dbo].[PARAMETER] OFF
SET IDENTITY_INSERT [dbo].[PROVINCE] ON 

INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (1, 1, N'Ha Noi')
INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (2, 1, N'Ho Chi Minh City')
INSERT [dbo].[PROVINCE] ([PROVINCE_ID], [COUNTRY_ID], [PROVINCENAME]) VALUES (3, 1, N'Bien Hoa')
SET IDENTITY_INSERT [dbo].[PROVINCE] OFF
SET IDENTITY_INSERT [dbo].[SCORE_EXAM] ON 

INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(1000 AS Decimal(18, 0)), CAST(800 AS Decimal(18, 0)), 9, 10, 3)
INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(20 AS Decimal(18, 0)), CAST(100 AS Decimal(18, 0)), 10, 9, 2)
INSERT [dbo].[SCORE_EXAM] ([SUMSCORE], [SCOREPASS], [SCORE_ID], [EXAM_ID], [MAJOR_ID]) VALUES (CAST(100 AS Decimal(18, 0)), CAST(80 AS Decimal(18, 0)), 17, 4, 1)
SET IDENTITY_INSERT [dbo].[SCORE_EXAM] OFF
SET IDENTITY_INSERT [dbo].[SEMESTER] ON 

INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (1, N'Fall')
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (2, N'Spring')
INSERT [dbo].[SEMESTER] ([SEM_ID], [SEMESTERNAME]) VALUES (3, N'Summer')
SET IDENTITY_INSERT [dbo].[SEMESTER] OFF
SET IDENTITY_INSERT [dbo].[STAGE] ON 

INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (12, 1, 19, N'Stage 1', CAST(N'2019-03-26 00:00:00.000' AS DateTime), CAST(N'2019-03-27 00:00:00.000' AS DateTime), N'8h - 9h', N'9h30 - 11h')
INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (13, 2, 20, N'Stage 2', CAST(N'2019-03-26 00:00:00.000' AS DateTime), CAST(N'2019-04-01 00:00:00.000' AS DateTime), N'7h - 11h30', NULL)
INSERT [dbo].[STAGE] ([STAGE_ID], [SEM_ID], [YEAR_ID], [STAGENAME], [DATETIME], [EXAMDATE], [EXAMTIME], [ENGLISHTIMEEXAM]) VALUES (14, 3, 20, N'Demo', CAST(N'2019-04-06 00:00:00.000' AS DateTime), CAST(N'2019-04-06 00:00:00.000' AS DateTime), N'8h -10h30', N'10h30 - 11h30')
SET IDENTITY_INSERT [dbo].[STAGE] OFF
SET IDENTITY_INSERT [dbo].[STAGEDETAILS] ON 

INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [INTERVIEW], [STAGE_DETAILS_ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'8h', N'9h15', N'Diep', 11, 3, 12, 10)
INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [INTERVIEW], [STAGE_DETAILS_ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'9h30', N'10h30', N'An', 12, 4, 12, 11)
INSERT [dbo].[STAGEDETAILS] ([STAR_TIME], [END_TIME], [INTERVIEW], [STAGE_DETAILS_ID], [MAJOR_ID], [STAGE_ID], [EXAM_ID]) VALUES (N'8h', N'9h15', N'Ngoc An', 14, 3, 12, 12)
SET IDENTITY_INSERT [dbo].[STAGEDETAILS] OFF
SET IDENTITY_INSERT [dbo].[STATUSS] ON 

INSERT [dbo].[STATUSS] ([Status_ID], [StatusName]) VALUES (1, N'Inactive')
INSERT [dbo].[STATUSS] ([Status_ID], [StatusName]) VALUES (2, N'Active')
INSERT [dbo].[STATUSS] ([Status_ID], [StatusName]) VALUES (3, N'Others')
SET IDENTITY_INSERT [dbo].[STATUSS] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Use_ID], [Name], [Phone], [Addres], [Email], [UserName], [PassWord], [ImagePath], [Status]) VALUES (1, N'System admin', 0, NULL, NULL, N'admin', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'2_Capture1.JPG', 1)
INSERT [dbo].[Users] ([Use_ID], [Name], [Phone], [Addres], [Email], [UserName], [PassWord], [ImagePath], [Status]) VALUES (2, N'quoc', 1234567897, NULL, N'quocbao01653@gmail.com', N'quoc123', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'2_Capture1.JPG', 1)
INSERT [dbo].[Users] ([Use_ID], [Name], [Phone], [Addres], [Email], [UserName], [PassWord], [ImagePath], [Status]) VALUES (3, N'quang', 1234568785, NULL, N'qua32@gmail.com', N'quang32', N'7C4A8D09CA3762AF61E59520943DC26494F8941B', N'3_form1.png', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[YEAR] ON 

INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (1, 2000)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (2, 2001)
INSERT [dbo].[YEAR] ([YEAR_ID], [YEARNAME]) VALUES (3, 2002)
SET IDENTITY_INSERT [dbo].[YEAR] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__CANDIDAT__5DB12256EFAFD745]    Script Date: 2019-04-21 11:12:32 PM ******/
ALTER TABLE [dbo].[CANDIDATE] ADD UNIQUE NONCLUSTERED 
(
	[CANDIDATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS3_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [HAS3_FK] ON [dbo].[CANDIDATE]
(
	[EDUCATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HOMETOWN_IN_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [HOMETOWN_IN_FK] ON [dbo].[CANDIDATE]
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF1_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [OF1_FK] ON [dbo].[CANDIDATE]
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_21_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_21_FK] ON [dbo].[CANDIDATE]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_24_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_24_FK] ON [dbo].[CANDIDATE]
(
	[CATALOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[CANDIDATE]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_28_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_28_FK] ON [dbo].[CANDIDATE]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_29_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_29_FK] ON [dbo].[CANDIDATE]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS8_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [HAS8_FK] ON [dbo].[CANDIDATEDOCUMENT]
(
	[C_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF9_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [OF9_FK] ON [dbo].[CANDIDATEDOCUMENT]
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF4_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [OF4_FK] ON [dbo].[DISTRICT]
(
	[PROVINCE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN1_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [IN1_FK] ON [dbo].[PARAMETER]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN2_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [IN2_FK] ON [dbo].[PARAMETER]
(
	[INTAKE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IN3_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [IN3_FK] ON [dbo].[PARAMETER]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [OF5_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [OF5_FK] ON [dbo].[PROVINCE]
(
	[COUNTRY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_22_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[SCORE_EXAM]
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_23_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_23_FK] ON [dbo].[SCORE_EXAM]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[STAGE]
(
	[YEAR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_20_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_20_FK] ON [dbo].[STAGE]
(
	[SEM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_17_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_17_FK] ON [dbo].[STAGEDETAILS]
(
	[STAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_25_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_25_FK] ON [dbo].[STAGEDETAILS]
(
	[EXAM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_26_FK]    Script Date: 2019-04-21 11:12:32 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_26_FK] ON [dbo].[STAGEDETAILS]
(
	[MAJOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO] FOREIGN KEY([EDUCATION_ID])
REFERENCES [dbo].[EDUCATION] ([EDUCATION_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HAS3_EDUCATIO]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_HOMETOWN__DISTRICT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[CANDIDATETYPE] ([TYPE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_OF1_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG] FOREIGN KEY([CATALOG_ID])
REFERENCES [dbo].[CATALOG] ([CATALOG_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_CATALOG]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_INTAKE]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_STAGE] FOREIGN KEY([STAGE_ID])
REFERENCES [dbo].[STAGE] ([STAGE_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CANDIDAT_STAGE]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT] FOREIGN KEY([C_ID])
REFERENCES [dbo].[CANDIDATE] ([C_ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_HAS8_CANDIDAT]
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT] FOREIGN KEY([DOC_ID])
REFERENCES [dbo].[DOCUMENT] ([DOC_ID])
GO
ALTER TABLE [dbo].[CANDIDATEDOCUMENT] CHECK CONSTRAINT [FK_CANDIDAT_OF9_DOCUMENT]
GO
ALTER TABLE [dbo].[DISTRICT]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICT_OF4_PROVINCE] FOREIGN KEY([PROVINCE_ID])
REFERENCES [dbo].[PROVINCE] ([PROVINCE_ID])
GO
ALTER TABLE [dbo].[DISTRICT] CHECK CONSTRAINT [FK_DISTRICT_OF4_PROVINCE]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [DOC_INPUT_PK] FOREIGN KEY([INPUTTYPE])
REFERENCES [dbo].[INPUTTYPE] ([Input_ID])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [DOC_INPUT_PK]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [DOC_STATUS_PK] FOREIGN KEY([STATUS])
REFERENCES [dbo].[STATUSS] ([Status_ID])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [DOC_STATUS_PK]
GO
ALTER TABLE [dbo].[EXAMSUBJECT]  WITH CHECK ADD  CONSTRAINT [EXAM_MAJOR_PK] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[EXAMSUBJECT] CHECK CONSTRAINT [EXAM_MAJOR_PK]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN1_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN1_YEAR]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN2_INTAKE] FOREIGN KEY([INTAKE_ID])
REFERENCES [dbo].[INTAKE] ([INTAKE_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN2_INTAKE]
GO
ALTER TABLE [dbo].[PARAMETER]  WITH CHECK ADD  CONSTRAINT [FK_PARAMETE_IN3_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[PARAMETER] CHECK CONSTRAINT [FK_PARAMETE_IN3_SEMESTER]
GO
ALTER TABLE [dbo].[PROVINCE]  WITH CHECK ADD  CONSTRAINT [FK_PROVINCE_OF5_COUNTRY] FOREIGN KEY([COUNTRY_ID])
REFERENCES [dbo].[COUNTRY] ([COUNTRY_ID])
GO
ALTER TABLE [dbo].[PROVINCE] CHECK CONSTRAINT [FK_PROVINCE_OF5_COUNTRY]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[SCORE_EXAM]  WITH CHECK ADD  CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[SCORE_EXAM] CHECK CONSTRAINT [FK_SCORE_EX_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER] FOREIGN KEY([SEM_ID])
REFERENCES [dbo].[SEMESTER] ([SEM_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_SEMESTER]
GO
ALTER TABLE [dbo].[STAGE]  WITH CHECK ADD  CONSTRAINT [FK_STAGE_RELATIONS_YEAR] FOREIGN KEY([YEAR_ID])
REFERENCES [dbo].[YEAR] ([YEAR_ID])
GO
ALTER TABLE [dbo].[STAGE] CHECK CONSTRAINT [FK_STAGE_RELATIONS_YEAR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ] FOREIGN KEY([EXAM_ID])
REFERENCES [dbo].[EXAMSUBJECT] ([EXAM_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_EXAMSUBJ]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR] FOREIGN KEY([MAJOR_ID])
REFERENCES [dbo].[MAJOR] ([MAJOR_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_MAJOR]
GO
ALTER TABLE [dbo].[STAGEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE] FOREIGN KEY([STAGE_ID])
REFERENCES [dbo].[STAGE] ([STAGE_ID])
GO
ALTER TABLE [dbo].[STAGEDETAILS] CHECK CONSTRAINT [FK_STAGEDET_RELATIONS_STAGE]
GO
USE [master]
GO
